# Project exclude paths
/.gradle/
/Coffee Machine/task/build/
/Coffee Machine/task/out/
/Coffee Machine/task/out/production/classes/
/Problems/Currency comparision/out/
/Problems/Currency comparision/out/production/classes/
/Problems/Squares of natural numbers/out/
/Problems/Squares of natural numbers/out/production/classes/
/Problems/The army of units/out/
/Problems/The army of units/out/production/classes/
/Problems/The eternal truth/out/
/Problems/The eternal truth/out/production/classes/
/Problems/The forgotten comments/out/
/Problems/The forgotten comments/out/production/classes/
/Problems/The Hello World program/out/
/Problems/The Hello World program/out/production/classes/
/Problems/The information about a person/out/
/Problems/The information about a person/out/production/classes/
/Problems/The last digit of a number/out/
/Problems/The last digit of a number/out/production/classes/
/Problems/The number of digits/out/
/Problems/The number of digits/out/production/classes/
/Problems/The result of a game in Tic-Tac-Toe/out/
/Problems/The result of a game in Tic-Tac-Toe/out/production/classes/
/Problems/The sum of three numbers/out/
/Problems/The sum of three numbers/out/production/classes/
/Problems/Vowel or not/out/
/Problems/Vowel or not/out/production/classes/
/Problems/Weather comparison/out/
/Problems/Weather comparison/out/production/classes/
/Problems/Within a range/out/
/Problems/Within a range/out/production/classes/
/Problems/Your name/out/
/Problems/Your name/out/production/classes/